/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1392px (Smaller desktops) */
/**************************/

@media (max-width: 87em) {
  .header-container {
    padding: 0 12rem 9.6rem 8rem;
  }
  .hero-section {
    padding: 0 0 0 8rem;
  }
  .how-it-work-container {
    padding: 8rem 10rem;
  }
  .marketing-container {
    padding: 0 10rem 8rem 10rem;
  }
  .advantage-section {
    padding: 12rem 0rem;
    max-width: 139rem;
  }
  .header-secondary {
    font-weight: 900;
    margin-bottom: 1.2rem;
    text-align: center;
    letter-spacing: -1px;
  }
  .app-container {
    padding: 10rem 2rem;
    grid-template-columns: 1.2fr 1fr;
  }
  .pricing-section {
    padding: 8rem 10rem;
    max-width: 139rem;
  }
  .testimonial-section {
    padding: 8rem 10rem;
  }
  .paltforms-container {
    padding: 0;
  }
  footer {
    padding: 8rem 10rem;
  }

  .hero-header {
    font-size: 5.2rem;
  }
  .hero-text-box {
    padding: 2rem 8rem;
  }
  .hero-container {
    grid-template-columns: 1fr 1fr;
  }

  .features-text {
    font-size: 1.5rem;
  }

  .advantage-grid {
    padding: 8rem 0 0 4rem;
  }
  .advantage-text-box {
    padding: 8rem 4rem 0 8rem;
  }
  .video-section-2 {
    padding: 0 0 0 8rem;
    max-width: 120rem;
  }

  .video-number {
    padding: 0 2rem;
  }

  .marketing-header {
    font-size: 3.2rem;
  }
  .marketing-list-header {
    font-size: 2rem;
  }
}
/**************************/
/* BELOW 1216px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .header-container {
    padding: 0 2rem 9.6rem 6rem;
  }
  .hero-section {
    padding: 10rem 8rem;
  }
  .how-it-work-container {
    padding: 6rem 8rem;
  }
  .marketing-container {
    padding: 0 8rem 6rem 8rem;
  }
  .advantage-section {
    padding: 6rem 0rem;
  }
  .advantage-header {
    font-size: 3.6rem;
  }
  .advantage-description {
    font-size: 1.8rem;
  }
  .advantage-text-box {
    padding: 6rem 3rem 0 4rem;
  }
  .adv-header {
    font-size: 2rem;
  }
  .advantage-list {
    display: flex;
    padding: 2rem 2.4rem;
  }
  .video-feature {
    padding: 2.2rem;
  }
  .video-number {
    padding: 0 2rem;
    font-size: 3rem;
  }
  .app-grid-container {
    padding: 2rem 8rem;
  }
  .app-text {
    margin-bottom: 3rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 1.4;
  }
  .app-logo-1 {
    padding: 1.5rem 5rem 1rem 2rem;
  }
  .app-logo-2 {
    padding: 1.5rem 5rem 1rem 2rem;
  }

  .app-container {
    padding: 8rem 2rem;
    grid-template-columns: 1.4fr 1fr;
  }
  .pricing-section {
    padding: 6rem 8rem;
  }
  .pricing-grid {
    padding: 4rem 3rem;
  }
  .pricing-text-list {
    font-size: 1.6rem;
  }
  .testimonial-section {
    padding: 6rem 8rem;
  }
  .testimonial-container {
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    padding: 5rem 10rem 10rem 12rem;
    gap: 6.4rem;
  }
  .testimonial-text {
    font-size: 1.8rem;
  }
  .platforms-header {
    font-size: 3rem;
  }
  .platforms-logo-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3rem;
    margin-top: 1.2rem;
  }
  .platforms-logo-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5rem;
    margin-bottom: 3.2rem;
  }

  .paltforms-container {
    padding: 0;
    /* max-width: 94rem; */
  }

  footer {
    padding: 6rem 8rem;
  }
  .footer-grid-container {
    padding-bottom: 6rem;
  }

  .hero-text-box {
    padding: 2rem 3rem;
  }
  .hero-header {
    font-size: 5.4rem;
  }
  .main-nav-list {
    gap: 2.8rem;
  }
  .hero-cta-form {
    padding: 0.8rem 1.7rem;
  }
  .delivered-text span {
    font-size: 3rem;
  }
  .header-secondary {
    font-size: 3rem;
    margin-bottom: 0.4rem;
  }
  .hiw-btn {
    padding: 1.2rem 2rem;
  }
  .features {
    padding: 3rem 2rem;
  }
  .features-icon {
    padding: 1.2rem;
    margin-bottom: 1.6;
  }
  .features-header {
    font-size: 2.2rem;
    margin-bottom: 0.6rem;
  }
  .feature-text-last {
    font-size: 1.6rem;
  }
  .marketing-img-div {
    padding: 2rem 2rem;
  }
  .marketing-text-box {
    padding: 6rem 0.8rem;
  }
  .marketing-header {
    font-size: 3.2rem;
    padding-bottom: 1.8rem;
  }
  .marketing-text {
    font-size: 1.8rem;

    line-height: 1.4;
  }
  .marketing-list-header {
    font-size: 2rem;
  }

  .marketing-last-grid {
    gap: 0.5rem;
  }
  .marketing-list-text {
    font-size: 1.6rem;

    line-height: 1.2;
  }
  .app-header {
    font-size: 4.4rem;
  }

  .video-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .video-grid-3 {
    grid-row: 2/3;
  }
  .video-grid-4 {
    display: none;
  }

  .video-section-2 {
    padding: 0 0 4rem 8rem;
  }

  .video-flex-container {
    gap: 4rem;
    padding: 4rem 0;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2.4rem;
  }
  .how-it-work-features {
    grid-template-columns: repeat(3, 1fr);

    gap: 4rem;
  }
  .features-text {
    font-size: 1.8rem;
  }
}

/**************************/
/* BELOW 934px (Tablets) */
/**************************/
@media (max-width: 58em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  /* mobile navigation */
  .btn-mobile-nav {
    display: block;
    display: flex;
  }
  .header {
    padding: 0 6rem;
    justify-content: space-between;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    transition: all 0.5s ease-in;

    display: flex;

    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    flex-direction: column;
    gap: 4.8rem;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .hero-section {
    padding: 4rem 8rem;
  }

  .hero-container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .hero-header {
    font-size: 5.2rem;
  }
  .hero-text {
  }

  .hero-cta-form {
    padding: 1.6rem 2.4rem;
    line-height: 1.3;
    width: 60%;
  }

  .hero-img-1 {
    width: 50%;
    justify-self: flex-end;
  }

  .how-it-work-features {
    grid-template-columns: repeat(2, 1fr);

    gap: 4rem;
  }
  .features-text {
    font-size: 1.8rem;
  }
  .marketing-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #eef1f6;
  }
  .marketing-img-div {
    width: 70%;
    margin: 0 auto;
  }
  .marketing-text-box {
    padding: 2rem 6rem;
  }
  .marketing-self {
    font-size: 2rem;
  }
  .marketing-header {
    font-size: 4rem;
    padding-bottom: 1.4rem;

    /* letter-spacing: -0.75px; */
  }
  .marketing-text {
    font-size: 2rem;

    line-height: 1.4;
  }
  .marketing-list-header {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
  }
  .marketing-list-text {
    font-size: 1.8rem;

    line-height: 1.6;
  }
  .marketing-grid-container {
    padding-bottom: 4rem;
  }
  .advantage-grid {
    grid-template-columns: 1fr;
    gap: 6rem;
  }
  .advantage-text-box {
    padding: 6rem 0 0 10rem;
  }
  .advantage-img-box {
    width: 55%;
    margin: 0 auto;
  }
  .adv-header {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  .adv-text {
    font-size: 1.5rem;
  }

  .video-flex-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .video-header {
    font-size: 3.8rem;
  }
  .video-number {
    font-size: 3.8rem;
  }
  .video-text {
    font-size: 1.6rem;
  }
  .video-feature {
    padding: 4rem 2rem;
  }
  .video-section-2 {
    padding: 0 4rem 4rem 4rem;
  }
  .video-img-btn {
    width: 90%;
  }
  .pricing-grid-container {
    gap: 8rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .pricing-grid-last {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .testimonial-section {
    padding: 0;
  }
  .paltforms-container {
    padding: 6rem 0;
    max-width: 94rem;
  }
  .platforms-header {
    font-size: 3.8rem;
    line-height: 1.2;

    margin-bottom: 1.8rem;
  }

  .platforms-logo-1 {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;

    gap: 5rem;
  }
  .platforms-logo-2 {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;

    row-gap: 5rem;
  }
  .paltforms-container {
    max-width: 100%;
  }
  .platforms-img-last {
    grid-column: 2/3;
  }
  .platforms-img {
    justify-self: center;
  }
  .footer-grid-container {
    padding-bottom: 6rem;

    gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }
  .footer-column-4 {
    justify-self: center;
  }
  .header-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .hero-cta-form {
    width: 90%;
  }
  .hero-section {
    padding: 4rem 4rem;
  }
  .how-it-work-container {
    padding: 6rem 4rem;
  }

  .hiw-btn {
    padding: 1rem 1.4rem;
  }
  .hiw-btn-text {
    font-size: 1.6rem;
  }
  .hiw-text {
    font-size: 1.6rem;
  }

  .features-text {
    font-size: 1.6rem;
  }
  .marketing-container {
    padding: 0 4rem 6rem 4rem;
  }
  .video-section-1 {
    padding: 8rem 8rem 0 8rem;
  }
  .video-grid-3 {
    padding-left: 6rem;
  }
  .app-grid-container {
    padding: 2rem 4rem;
  }
  .pricing-section {
    padding: 4rem 4rem;
  }
  .pricing-grid-container {
    gap: 3rem;
  }
  .testimonial-container {
    padding: 5rem 2rem;
    gap: 5rem;
  }
  .testimonial-texts {
    padding-right: 0rem;
  }
  .advantage-img-box {
    width: 90%;
    margin: 0 auto;
  }
}
/**************************/
/* BELOW 554px (Phones) */
/**************************/

@media (max-width: 34em) {
  .hero-section {
    padding: 4rem 2rem;
  }
  .hero-header {
    font-size: 4.4rem;
  }
  .how-it-work-container {
    padding: 8rem 4rem;
  }

  .hiw-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 4.8rem;
  }

  .marketing-container {
    padding: 0 4rem 6rem 4rem;
  }
  .video-section-1 {
    padding: 8rem 8rem 0 8rem;
  }
  .video-grid-3 {
    padding-left: 6rem;
  }

  .pricing-section {
    padding: 4rem 4rem;
  }
  .header-hiw {
    text-align: center;
    margin-bottom: 1.2rem;
    font-size: 3.6rem;
  }
  .hiw-text {
    font-size: 1.8rem;
  }
  .hiw-texts {
    align-items: center;
    gap: 2rem;
  }
  .hiw-btn {
    padding: 1.4rem 2.8rem;
  }
  .how-it-work-features {
    grid-template-columns: 1fr;
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }
  .features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .features-text {
    text-align: center;
    font-size: 1.8rem;
    color: black;
  }

  .marketing-img-div {
    display: none;
  }
  .marketing-self {
    text-align: center;
  }
  .header-secondary {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
  }
  .marketing-text {
    text-align: center;
    font-size: 1.6rem;
  }
  .marketing-header {
    font-size: 3.2rem;
  }
  .marketing-text-box {
    padding: 5rem 0 2rem 2rem;
  }
  .marketing-last-grid {
    gap: 3rem;
    grid-template-columns: 1fr;
  }
  .marketing-list-header {
    font-size: 2.6rem;
    margin-bottom: 0.6rem;
  }
  .advantage-grid {
    padding: 2rem 0 0 0;
  }
  .advantage-text-box {
    padding: 2rem 0 0 4rem;
  }
  .advantage-img-box {
    display: flex;
    justify-content: space-around;
  }
  .advantage-img {
    width: 80%;
  }
  .video-section-1 {
    padding: 8rem 4rem 0 4rem;
  }
  .video-flex-container {
    grid-template-columns: 1fr;
    padding: 0rem 4rem;
  }
  .video-section-2 {
    padding: 4rem;
  }
  .video-paly-outer {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 12%;
  }
  .video-img-btn {
    width: 100%;
  }
  .video-header {
    font-size: 3rem;
  }
  .video-grid-3 {
    padding-left: 2rem;
  }
  .video-grid-2 {
    justify-self: center;
  }
  .app-header {
    font-size: 3.2rem;
    line-height: 1.3;
    margin-bottom: 1.2rem;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    font-weight: 800;
  }

  .app-container {
    grid-template-columns: 1fr;
  }
  .header-secondary {
    color: #0e1133;
    font-size: 3.8rem;
    font-weight: 900;
    margin-bottom: 1.2rem;
    text-align: center;
    letter-spacing: -1px;
  }
  .pricing-btns {
    margin: 6rem auto;
  }
  .pricing-grid-container {
    gap: 3rem;
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .pricing-grid-last {
    justify-self: start;
    width: 100%;
  }
  .testimonial-container {
    grid-template-columns: 1fr;
  }
  .testimonial-text {
    text-align: center;
  }
  .testimonial-authors {
    display: flex;
    flex-direction: column;
  }

  .testimonial-icons {
    display: none;
  }
  .testimonial-web {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer {
    padding: 6rem 4rem;
  }
  .footer-grid-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .footer-logo-flex {
    justify-content: center;
    gap: 2rem;
  }
  .footer-header {
    text-align: center;
  }
  .footer-lists {
    align-items: center;
  }
  .footer-img {
    display: flex;
    justify-content: center;
  }

  .footer-logo-text {
    text-align: center;
  }
  .footer-read-more {
    justify-content: center;
  }

  .footer-column-3 {
    justify-self: center;
  }
  .footer-column-4 {
    justify-self: center;
  }

  .footer-flex-container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .header-btn:link,
  .header-btn:visited {
    font-size: 1.4rem;
    transition: all 0.3s;
    padding: 1.2rem;
  }
}
/**************************/
/* BELOW 456px (Phones) */
/**************************/

@media (max-width: 28em) {
  .app-header {
    grid-template-columns: 3fr 1fr;
  }
  .hiw-text {
    font-size: 1.4rem;
  }
  .header-secondary {
    font-size: 3rem;
  }
  .platforms-header {
    font-size: 3rem;
  }
  .header-btn:link,
  .header-btn:visited {
    font-size: 1.4rem;
    transition: all 0.3s;
    padding: 1rem;
  }
  .header {
    padding: 0 2rem;
  }
  .advantage-header {
    font-size: 3.2rem;
  }
  .advantage-description {
    font-size: 1.6rem;
  }
  .video-section-2 {
    padding: 4rem 1rem;
  }
  .video-grid-container {
    width: 90%;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
